@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.comment {
  padding-top: 4rem;
  margin-left: 1rem;

  @include tablet {
    margin-right: 3rem;
  }

  &__header {
    font-size: 0.6rem;
    padding-left: 1rem;
    color: silver;
  }

  &__container {
    width: 100%;
    display: flex;
    padding-top: 2rem;
    border-bottom: 0.25rem solid #e1e1e1;

    @include desktop {
      width: 103%;
    }
  }

  @include desktop {
    padding-left: 10rem;
    padding-right: 32rem;
    margin-left: 2rem;
  }

  &__formcontainer {
    padding-bottom: 1rem;

    @include tablet {
      display: flex;
      align-items: center;
    }
  }
}

.user__img--muruge {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 1.7rem;
}

.form__input {
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border: 0.25rem solid #e1e1e1;
  border-radius: 0.25rem;
  font-weight: 400;

  @include tablet {
    display: flex;
    width: 101%;
    height: 3rem;
  }
}

.comment__button {
  padding-left: 2rem;
  padding-top: 1rem;
}

.comment__submit {
  width: 78%;
  border: 0.25rem solid #0095ff;
  background-color: #0095ff;
  border-radius: 0.25rem;
  height: 2rem;
  color: white;

  @include tablet {
    width: 100%;
  }
}
