@use 'styles/mixins' as *;
@use 'styles/variables' as *;
@use 'styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  @include desktop {
    display: flex;
  }
}
