@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero__container {
  padding-right: 1rem;
  padding-left: 1rem;

  @include desktop {
    padding-right: 8rem;
    padding-left: 13rem;
    margin-right: 23rem;
  }
}

.bio__page {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 19rem;
  font-weight: 300;
  font-style: normal;

  @include desktop {
    padding-left: 13rem;
    padding-right: 17rem;
  }
}

.bio__paragraph {
  padding-right: 1rem;
  font-size: 1rem;

  @include desktop {
    padding-right: 24rem;
  }
}
