@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/partial' as *;

*, ::before, ::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}


@include mobile{
    .hero__container{
        padding-right: 1rem;
        padding-left: 1rem;
        
       }
    
       .bio__page{
         padding-top:2rem;
         padding-left: 1rem;
         padding-right: 2rem;
         font-weight:300;
         font-style: normal;
       }

       .bio__paragraph{
         padding-left:1rem;
         padding-right:2rem;
         font-size: 2rem;
       }
    
    }