@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Link {
  text-decoration: none;
  color: black;
}

.video__thumbnail {
  width: 30%;
  height: 6rem;
  border-radius: 0.5rem;
  object-fit: cover;

  @include tablet {
    width: 21%;
  }

  @include desktop {
    padding-top: 2rem;
    width: 16%;
    margin-left: 11rem;
  }
}

.sidevideo__data {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.video__details ul {
  padding-top: 0.28rem;
  list-style: none;
}

.sidevideo--header {
  margin-left: 1.4rem;
  margin-top: 1rem;
  color: #e1e1e1;
  font-weight: 700;

  @include desktop {
    margin-left: 12rem;
  }
}

.video__details {
  width: 14.6rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.sidevideo--title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

// .sidevideo__list {
//   @include desktop {
//     padding-left: 11rem;
//     padding-right: 41rem;
//   }
// }
