@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/partial' as *;

*, ::before, ::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

@include mobile{

    //  .sidevideo__list{
    //    width:18rem;
    //  }     

    .video__thumbnail{
        width:19%;
        height: 4rem;
        border-radius: 0.5rem;
        object-fit: cover;
       }
   
       .sidevideo__data{
         display: flex;
         margin-top: 1rem;
         margin-left: 1rem;
         }
   
       .video__details ul{
         padding-top: 0.28rem;
         list-style: none;
       }

       .sidevideo--header{
         margin-left: 1.4rem;
         margin-top: 1rem;
         color: #e1e1e1;
         font-weight: 700;
   
       }

       .video__details{
         width:14.6rem;
         padding-left: 1rem;
         padding-right: 2rem;
       }

       .sidevideo--title{
           font-weight: 600;
           margin-bottom: 0.5rem;
       }

      
      }

@include tablet{

  .video__thumbnail{
    width:16%;
    height: 4rem;
}

}

@include desktop{
  
  // .sidevideo{
  //   float:right;
  // }
  

  .video__thumbnail{
      width:16%;
      height: 4rem;
  }

}