@font-face {
    font-family: 'Avenir';
    src: url('../assets/Fonts/AvenirNextProLT/Alternativefiles/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Light.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir';
    src: url('../assets/Fonts/AvenirNextProLT/Alternativefiles/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Bold.ttf');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir';
    src: url('../assets/Fonts/AvenirNextProLT/Alternativefiles/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Demi.ttf');
    font-style: bold;
    font-style: normal;
    
    
}



// // @mixin section-header{
//     font-family: 'Avenir';
//     line-height: 2rem;
//     font-size: 1.5rem;
//     font-weight: 700;
    
// }


