@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/partial' as *;

*, ::before, ::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

@include mobile{

.comment__section{
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .comForm__container{
    padding-top: 4rem;
    display: flex;
    border-bottom: 0.25rem solid #e1e1e1;
  }

  .comment__header{
    font-size: 1rem;
    padding-left: 1rem;
    color: silver;
  }

  .user__img--muruge{
   width:3rem;
   height: 3rem;
   border-radius: 50%;
   margin-left: 0.5rem;
   margin-top: 1.7rem;
   
  }

  .form__input{
    width: 136%;
    height: 7rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right:14rem;
    border: 0.25rem solid #e1e1e1;
    border-radius: 0.25rem;
    font-weight:700;

  }

  .commentBtn{
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    
  }

  .comment__submit{
   width: 140%;
   border: 0.25rem solid #0095FF;
   background-color: #0095FF;
   border-radius: 0.25rem;
   height: 3rem;
   color: white;
  }

 
}

@include tablet{
  .form__input{
    width: 136%;
    height: 7rem;
   
  
  }
}

@include desktop{
  .comment__section{
    padding-left:15rem;
    padding-right:10rem;
  }

  .show__comment{
    padding-left:14rem;
    padding-right: 7rem;
  }
  
}
