@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;

  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
  }

  @include desktop {
    padding-left: 13.5rem;
    padding-right: 13.5rem;
  }
}

.play__logo {
  display: flex;
  justify-content: center;
}

.search__bar {
  display: flex;
  border: 0.25rem solid #e1e1e1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;

  @include desktop {
    margin-left: 27rem;
  }
}

.search__box {
  border: 0.25rem solid white;
  font-size: 1rem;
  padding-left: 0.5rem;
  height: 2rem;
  width: 81%;
}

.search__header {
  font-family: "AvenirNextProLT";
  padding-left: 0.25rem;

  @include tablet {
    display: flex;
    width: 40%;
    margin-left: 7rem;
    align-items: center;
  }
}

.upload__logo {
  padding-right: 0.5rem;
}

.uploadbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid #0095ff;
  border-radius: 0.5rem;
  background-color: #0095ff;
  color: white;
  margin-top: 0.5rem;

  @include tablet {
    margin-left: 1rem;
  }
}

.uploadbtn__link {
  text-decoration: none;
  color: white;
}

.user__img--mohan {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.uploadbtn--user {
  padding-top: 0.5rem;
  display: flex;
}
