@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/partial' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imgPlaceholder {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid #e1e1e1;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background-color: silver;
  margin-right: 1rem;
}

.post__area {
  margin-left: 1rem;
  margin-right: 3rem;
  padding-bottom: 1rem;

  @include tablet {
    margin-right: 7rem;
  }

  @include desktop {
    margin-left: 12rem;
    margin-right: 35rem;
  }
}

.comment__username {
  font-size: 1rem;
}

.comment__Paragraph {
  padding-left: 4.5rem;
  padding-right: 3rem;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.post__container {
  width: 57%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.25rem solid #e1e1e1;

  @include tablet {
    width: 110%;
  }
}

.comment__details {
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__date {
  color: silver;
}
